body
{
	
	background: url(/images/site/fon.png) repeat;
}

/*#left_side {}*/

#center_side {
	width: 1245px;
	margin: 15px auto 0;
}

	#center_side_in_left {
		background: url(/images/site/border_left.png) repeat-y;
		background-position: left;
	}
		#center_side_in_right {
			background: url(/images/site/border_right.png) repeat-y;
			background-position: right;
			position: relative;
		}
			/*=== HEAD ===*/
			#top_block_in_main {
				height: 174px;
				width: 1245px;
				background: url(/images/site/top_fon1.png) no-repeat;
				position: absolute;
			}
				.top_wrap_link {
					height: 46px;
					background: url(/images/site/el2.png);
					position: absolute;
					top: 51px;
    				width: 240px;
    				text-align: center;
				}
				.top_wrap_link_left {
					left: 3px;
				}
				.top_wrap_link_right {
					right: 3px;
				}
					.top_wrap_link_inner_left {background: url(/images/site/el1.png) no-repeat; background-position: right;height: 46px;margin-right: -14px;}
					.top_wrap_link_inner_right {background: url(/images/site/el3.png) no-repeat; background-position: left;height: 46px;margin-left: -13px;}
						.top_link, .bottom_link {
							border-bottom: 2px dashed;
						    color: #fff;
						    display: inline-block;
						    font-size: 22px;
						    line-height: 1;
						    margin: 12px;
						}
						.top_link:hover, .bottom_link:hover {
							color: #fff;
							text-decoration: none;
							border: none;
						}
						.bottom_link {margin: 0 0 5px 0;font-size: 24px;}
				.logo {
					display: block;
				    margin: auto;
				    width: 335px;
				}
			/*=== END HEAD ===*/

/*#right_side {}*/

#wrap_content {
	
	background-color: #fff;
	margin: 0 3px;
	/*min-height: 800px;*/
}

	.main_image {width: 1239px;}


footer {
	height: 115px;
	background: url(/images/site/bottom-fon.png) repeat-x;
	margin: 0 3px;
}

	.footer_item {
		display: inline-block;
	    margin: 0 15px;
	    width: 270px;
	    height: 115px;
	    padding: 15px 0 0 65px;
	    float: left;
	    position: relative;
	}
	.modul { background: url(/images/site/modul.png) no-repeat; background-position: left; }
	.sertificat { background: url(/images/site/sertificat.png) no-repeat; background-position: left; }
	.franchaizing { background: url(/images/site/franch.png) no-repeat; background-position: left; }
	.login { background: url(/images/site/login.png) no-repeat; background-position: left; }

	.footer_delimeter {
		background-color: #fff;
	    display: inline-block;
	    height: 100px;
	    margin: 7px 0;
	    width: 2px;
	    float: left;
	}
	.bottom_p {
		position: absolute;
		left: 65px;
		top: 45px;
		color: #fff;
		display: inline-block;
		font-size: 24px;
		line-height: 1;
		/*margin: 12px;*/
	}
