h1 {font-size: 23px;background-color: #c0c0c0;margin: 0px;padding:4px 0 4px 15px;}
h2 {}
header {/*background-color: #99ccff;*/padding: 5px 0;}
#head {height:90px;background: url("/images/name_logo.png") no-repeat center top;}
#a_home {width:50px;height:50px;display: block;background: url("/images/a_home.png") no-repeat;margin: 5px 0 0 20px;}
#a_exit {width:50px;height:50px;display: block;background: url("/images/a_exit.png") no-repeat;margin: 5px 20px 0 0;float:right;}
#notice_width_scrin {background-color: #fff;font-size: 40px;height: 400px;padding: 30px;position: absolute;text-align: center;top: 10px;width: 100%;z-index: 10;}
#btn_notice_width_scrin {font-size: 35px;}
#Excellent {color: green;font-size: 39px;left: 15%;position: absolute;}
#Very_nice {color: #33CC66;font-size: 39px;left: 15%;position: absolute;}
#Well_done {color: #339966;font-size: 39px;left: 15%;position: absolute;}
#Try_more {color: #FF6666;font-size: 39px;left: 15%;position: absolute;}
#used_rules {color: #000;font-size: 39px;left: 25%;position: absolute;}
#back_time {border-top: 1px solid #000000;width: 120px;height:40px;}
.container_header {height: 100px;background: url("/images/obrain_new.png") no-repeat;}
.name_portal {color: #6495ed;font-size: 60px;line-height: 1;text-align: center;font-weight: bold;}
.my_nav {float:left;}
	.my_nav  > li {float:none;}
		.my_nav  > li > a {background: #b0c4de url("/images/main_menu_left_middle.png") no-repeat;margin-bottom:1px;border: 1px solid #808885;color: #000000;font-size: 22px;height: 58px;padding: 14px 0 14px 61px;width: 286px;}
		.my_nav  > li > a:hover {border: 1px solid #000000;}
		#my_nav_top {border-radius: 8px 8px 0 0;}
		#my_nav_middle {background: #b0c4de url("/images/main_menu_left_middle.png") no-repeat;margin-bottom:1px;border: 1px solid #808885;color: #000000;font-size: 20px;height: 58px;padding: 14px 14px 14px 58px;width: 288px;display: inline-block;margin: 7px;}
		#my_nav_middle:hover {text-decoration: none;border: 1px solid #000000;}
		/*#my_nav_middle {border-radius: 0;}*/
		#my_nav_bottom {border-radius: 0 0 8px 8px;}
		/*.my_nav  > li.active > a {background-color: #b0c4de;border: 1px solid;border-radius: 9px;font-family: trebuchet ms;font-size: 25px;margin: 9px 0;padding: 62px 11px;}
		.my_nav  > li > a:hover {background-color: #b0c4de;border: 1px solid;border-radius: 9px;font-family: trebuchet ms;font-size: 25px;margin: 9px 0;padding: 62px 11px;}*/
	.tab_content_a {cursor: pointer;color: #000000;display: inline-block;background-color: #c9d0cd;border: 1px solid #808885;border-radius: 16px;font-family: trebuchet ms;font-size: 20px;margin:7px/*0 10px 10px 0*/;padding:20px 16px;width: 280px;}
		.tab_content_a > b {color:#CC6666;}
		/*.tab_content_a > b:hover {color:#CC9999;}*/
		.tab_content_a:hover {text-decoration: none;border: 1px solid #000000;}
		.tab_content_a_job3 {/*width:196px;*/padding:4px 15px;width:163px;font-size: 18px;}
.info_online {margin-bottom:15px;padding: 5px 0;border-bottom:1px solid #99ccff;background-color: #e0ffff;}
#info_user {background-color: #c0c0c0;border-radius: 4px;padding: 7px;/*position: absolute;right: 10px;top: 10px;*/float: right;margin-bottom: 5px;}
	#info_user > p {display: inline-block;margin: 0 5px;}
	#info_user > a {display: inline-block;margin: 0 5px;}

#info_job {font-size: 30px;margin-top: 30px;}
	#info_job > span {}
	#errors {color:red;}
	
.sets_settings {font-size: 17px;margin: 5px 15px;}

/*#page {width:1170px;padding: 0 15px;}*/
.numbers {margin: 30px 0;font-size: 100px;line-height: 1;}
	.numbers > span {}
.numbers_salom {margin: 30px 0 30px 80px;font-size: 40px;text-align: right;}
#next_number {font-size: 30px;}

#wrap_abacus {/*width: 806px;height: 488px;padding: 24px 38px;background: url(/images/frame.png) no-repeat;margin: 30px 0;*/}
/*#abacus {width:700px;height:598px;position:relative;background: url(/images/frame2.png) no-repeat;}*/
#abacus {width:600px;height:386px;position:relative;background: url(/images/frame4.png) no-repeat;}
	#level {}
	#itogo {color: #ffffff;font-size: 20px;font-weight: bold;text-align: center;}

	#reset_btn {background: url("/images/reset_abacus.png") no-repeat;cursor: pointer;height: 35px;left: 545px;position: absolute;top: -35px;width: 30px;}
	#reset_btn:hover {background-color: #666666;}
	/*.bead {height: 73px;width: 154px;cursor: pointer;position: absolute;background-image: url(/images/abacus.png);}*/
	.container_bead {width: 130px;height:344px;}
	.bead {width: 130px;height: 45px;cursor: pointer;position: absolute;background-image: url(/images/abacus4.png);}
		.upper_beads {}
			.row_up {top:29px;} .row1 {top:193px;} .row2 {top:238px;} .row3 {top:283px;} .row4 {top:328px;}
			.col1 {left:10px;} .col2 {left:153px;} .col3 {left:296px;} .col4 {left:439px;}
			/*.row_up {top:21px;} .row1 {bottom:239px;} .row2 {bottom:166px;} .row3 {bottom:93px;} .row4 {bottom:20px;}*/
		
		.lower_beads {}
		#j2_input_number, .input_number {font-size: 36px;height: 78px;width: 100px;}
#btn_zvuk {height:45px;width:45px;cursor: pointer;}
.zvuk_on {background: url("/images/zvuk_on.png") no-repeat;}
.zvuk_off {background: url("/images/zvuk_off.png") no-repeat;}

#shulte {width:600px;height:385px;}
	.shulte_item {width:120px;height:77px;text-align: center;border: 1px solid grey;cursor: pointer;}
	.shulte_item_abacus {width:190px;height:118px;margin:5px;padding-right:5px;border:none;text-align: right;cursor: pointer;background: url("/images/shulte_abacus_item_fon.png") no-repeat;}

#settings_built-in {padding: 8px;}
#settings,#laws {background-color: #fff;box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);padding: 10px 20px;position: fixed;top: 1%;left: 2%;height: 97%;width: 95%;}
	#form_settings {font-size: 19px;}
	#form_settings > h2 {/*font-size: 18px;*/margin:0px;padding: 6px 10px;}
	#form_settings > h3 {/*border-bottom: 1px solid #3399FF;*/font-size: 18px;margin:0px;padding: 6px 10px;display: inline-block;}
	#form_settings span h3 {/*border-bottom: 1px solid #3399FF;*/font-size: 18px;margin:0px;padding: 6px 10px;display: inline-block;}
	#form_settings > hr {border-color: #ff6666;margin: 7px/* !important*/;}
	#form_settings span hr {border-color: #ff6666;margin: 7px/* !important*/;}
	#loading {height:72px;width:72px;position: fixed;top: 50%;left: 50%;padding: 4px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);background-color: #fff;}

#wrap_job8 {width:600px;height:386px;float:right;margin-right:20px;font-size:180px;text-align:center;}
.znak_operat {}
.true_answer {font-size: 65px;margin:0;}

.block_news {box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);background-color: #fff;margin: 7px; padding: 9px;position: absolute;}
.block_news > p {margin:0;}
.close_block_news {cursor: pointer;float: right;}
.open_new  > a {font-size: 12px;}

/*.spica {width:17px;height:440px; background-image: url(/images/spica.png);position: absolute;}
	.spica1 {left:40px;} .spica2 {left:146px;} .spica3 {left:251px;} .spica4 {left:356px;} .spica5 {left:461px;} .spica6 {left:566px;} .spica7 {left:671px;}*/	
		
		/*.row_up {background-image: url(/images/row-up.png);}
			.row1 {background-image: url(/images/row-1.png);}
			.row2 {background-image: url(/images/row-2.png);}
			.row3 {background-image: url(/images/row-3.png);}
			.row4 {background-image: url(/images/row-4.png);}*/

/*#beam {background-image: url(/images/beam.png);height:20px;width:100%;position:absolute;top:200px;}*/

.countdown-wrapper {
	display: none;
	position: fixed;
	text-align: center;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 100000;
}
.countdown-wrapper .countdown-block {
	position: relative;
	display: inline-block;
	width: 600px;
	height: 300px;
	text-align: center;
	font-size: 10em;
	color: #000;
	margin-top: 0.5em;
	z-index: 100001;
	background: rgba(255,255,255, 0.9);
	border-radius: 50px;
}

/** css for job 3 (slalom)**/
.numbers_slalom {
	margin: 0 0 30px 11px;
	font-size: 30px;
	text-align: right;
}

.numbers_slalom #source_number {
	display: block;/*
	height:auto;
	max-height:100%;
	overflow:auto;*/
	/*border: 1px solid yellow;*/
	/*border-radius: 15px;
	background: white;*/
}

.job3-column {
	display: inline-table;
	padding: 10px 10px 10px 40px;
}