/* stili dlya Smarty */
body {
    background: url("/images/smarty/bg_pencil.jpg") fixed;
}

.smarty {
    background: rgba(255, 255, 255, 0.7);
}
.smarty td {
    text-align: center;
    font-weight: normal;
    font-size: 1.2em;
    border-left: 1px solid #2834a8 !important;
    border-right: 1px solid #2834a8 !important;
}
.smarty td input {
    padding: 0 5px;
    font-size: 1em;
}

.page-header p{
    font-size: 18px;
}
#durationElem{
    font-weight: 600;
    font-size: 22px;
}

.modal-body {
    text-align: center;
}

#countdownText {
    font-size: 100px;
    height: 300px;
}