.wrapper {
    margin-top: 10px;
}

body {
    background: rgba(102, 204, 0, 0.05);
}

.preloader-bg{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0);
}

.countdown-bg, .result-bg{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.8);
}

.countdown-bg .countdown-wrapper {
    width: 600px;
    height: 300px;
    text-align: center;
    font-size: 10em;
    color: #000;
    z-index: 100001;
    background: rgba(255,255,255, 0);
    border-radius: 50px;
}

.countdown-bg .countdown-wrapper {
    width: 600px;
    height: 300px;
    text-align: center;
    font-size: 10em;
    color: #000;
    z-index: 100001;
    background: rgba(255,255,255, 0);
    border-radius: 50px;
}

#m_number_panel {
    height: 500px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.9);
}

.m_next_buttons {
    margin-top: 5px;
}

#m_stars i {
    font-size: 40px !important;
}

#m_stars .active-star i {
    color: #ffea00;
}

#m_stars .disabled-star i {
    color: rgba(0,0,0,0.1);
}

.active-star, .disabled-star {
    display: inline-block;
}

#wrap_job8 {
    font-size: 200px;
}
#wrap_job8 .true_answer {
    font-size: 50px;
}

#back_time {
    min-width: 60px;
    padding-left: 10px;
}
